.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);

  .header_logo {
    display: flex;
    gap: 10px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    input {
      border: transparent;
      border-radius: 20px;
      background: #f0f2f5;
      font-size: 13px;
      padding: 0 20px;
    }
  }

  //top center menu bar
  .top_menu {
    display: flex;
    .menu_icone {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 105px;
        height: 47px;
        padding: 0 20px;
        transition: all ease-in-out 0.15s;
        border-radius: 10px;
        svg {
          font-size: 30px;
        }
        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }

  //right icons
  .right_icon {
    .right_icones {
      display: flex;
      a {
        color: black;
        svg {
          height: 40px;
          width: 40px;
          border-radius: 50px;
          background: #f2f2f2;
          padding: 8px;
          margin: 0 5px;
          transition: all ease 0.15s;
          &:hover {
            background: #d8dadf;
          }
        }
        img {
          height: 40px;
          width: 40px;
          border-radius: 50px;
        }
      }
    }
  }
}
