.modal_blar_area {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  .moda_container {
    width: 432px;
    background: #fff;
    box-shadow: var(--fb-shadow);
    border-radius: 10px;
    .modal_header {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      .header_content {
        h1 {
          font-size: 32px;
          font-weight: 500;
        }
        p {
          font-size: 15px;
          color: #606770;
        }
      }
      button {
        font-size: 25px;
        cursor: pointer;
        border: none;
        background: transparent;
      }
    }
    .modal_body {
      padding: 15px;
    }
  }
}
